@import "draft-js/dist/Draft.css";

.Journal .DraftEditor-root,
.Journal .DraftEditor-editorContainer,
.Journal .notranslate.public-DraftEditor-content {
  flex: 1;
  display: flex;
}

.Journal .DraftEditor-root {
  height: 100%;
  overflow-y: scroll;
}

.Journal .notranslate.public-DraftEditor-content > div {
  flex: 1;
}

.dark .Editor {
  box-shadow: 0 0 0 0 rgb(76 144 240 / 0%), 0 0 0 0 rgb(76 144 240 / 0%),
    0 0 0 0 rgb(76 144 240 / 0%), inset 0 0.05em 0 0 rgb(17 20 24 / 60%),
    inset -0.05em 0 0 rgb(17 20 24 / 60%), inset 0.05em 0 0 rgb(17 20 24 / 60%),
    inset 0 -0.05em 0 0 #8f99a8;
}

.bright .Editor {
  box-shadow: 0 0 0 0 rgb(45 114 210 / 0%), 0 0 0 0 rgb(45 114 210 / 0%),
    inset 0 0 0 0.05em rgb(17 20 24 / 20%),
    inset 0 0.05em 0.05em rgb(17 20 24 / 50%);
}

.Editor {
  flex: 1;
  border-radius: 0.3em;
  height: 100%;
  cursor: text;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3.3em;
  margin-bottom: 1em;
  width: 20em;
}

.Editor > *:first-child {
  padding: 0 2.7em 2em 2.7em;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  height: 100%;
  word-break: break-word;
}

textarea {
  resize: none;
}

.Editor textarea.bp4-input.bp4-large {
  box-shadow: none;
}

.dark .Editor .bp4-dark textarea.bp4-input.bp4-large {
  background: #353538;
  box-shadow: none;
}

.Editor textarea.bp4-input.bp4-large {
  padding: 0;
  margin: 0.4em 0 0.6em;
  height: 1.5em;
  width: 100%;
  font-family: "Open Sans";
  font-size: 2em;
  font-weight: 700;
}

.Editor-Buttons > * {
  margin-right: 0.1em;
}

.dark .Editor-Toolbar {
  background: #131313;
}

.bright .Editor-Toolbar {
  background: #c5c5c5;
}

.Editor-Toolbar {
  padding: 0.3em 1.3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 420px) {
  .Editor {
    width: auto;
  }
}

@media (min-width: 900px) {
  .Editor {
    margin-left: 5em;
    margin-bottom: 0;
  }
}
