@import "draft-js/dist/Draft.css";

.Journal .DraftEditor-root,
.Journal .DraftEditor-editorContainer,
.Journal .notranslate.public-DraftEditor-content {
  flex: 1;
  display: flex;
}

.Journal .notranslate.public-DraftEditor-content > div {
  flex: 1;
}

.Editor-Buttons {
  padding: 0.2em 1.3em;
}

.dark .Editor-Buttons {
  background: #131313;
}

.bright .Editor-Buttons {
  background: #c5c5c5;
}

.Editor {
  flex: 1;
  border-radius: 0.3em;
  min-height: 100%;
  cursor: text;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5em;
}

.Editor > *:first-child {
  padding: 3em;
  display: flex;
  flex-direction: column;
  flex: 1;
}

textarea {
  resize: none;
}

.Editor textarea.bp4-input.bp4-large {
  box-shadow: none;
}

.dark .Editor .bp4-dark textarea.bp4-input.bp4-large {
  background: #353538;
  box-shadow: none;
}

.Editor textarea.bp4-input.bp4-large {
  padding: 0;
  margin: 0.4em 0 0.6em;
  height: 1.3em;
  width: 100%;
  font-family: "Open Sans";
  font-size: 2.2em;
  font-weight: 700;
}
