@import "@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "draft-js/dist/Draft.css";

.Journal {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 6em;
  justify-content: space-between;
  align-items: flex-start;
}

.bright .Editor,
.bright .Journal input.bp4-input {
  background: #f9f9f9;
}

.Journal input.bp4-input {
  box-shadow: none;
}

.dark .Editor,
.dark .Journal input.bp4-input {
  background: #353538;
}

.Editor {
  flex: 1;
  border-radius: 0.3em;
  min-height: 100%;
  cursor: text;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5em;
}

.Editor > *:first-child {
  padding: 3em;
}

.Journal .calendar-container .bp4-datepicker {
  background: #00000000;
}

.Journal .bp4-divider {
  border: none;
}

.Journal .bp4-elevation-1 {
  box-shadow: none;
}

.Journal .DayPicker-Day.DayPicker-Day--selected,
.Journal .bp4-datepicker .DayPicker-Day,
.Journal .bp4-datepicker .bp4-datepicker-day-wrapper {
  border-radius: 50%;
}

.Journal .bp4-datepicker .bp4-datepicker-day-wrapper {
  padding: 0.9em 0.8em;
}

.calendar-container {
  display: flex;
  flex-direction: column;
}

.calendar-container > *:first-child {
  margin-bottom: 3em;
}

.Journal .DraftEditor-root,
.Journal .DraftEditor-editorContainer {
  flex: 1;
  display: flex;
}

.Journal .notranslate.public-DraftEditor-content {
  flex: 1;
}
