@import "@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "draft-js/dist/Draft.css";

.Journal {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4em;
  justify-content: space-between;
  align-items: flex-start;
}

.Editor-Container {
  flex: 1;
  align-self: stretch;
  padding-left: 5em;
}

.bright .Editor {
  background: #fff;
}

.dark .Editor {
  background: #1114148d;
}

.Editor {
  border-radius: 0.3em;
  min-height: 100%;
  cursor: text;
  padding: 4em;
}

.Journal .calendar-container .bp4-datepicker {
  background: #00000000;
}

.Journal .bp4-elevation-1 {
  border: none;
}

.Journal .bp4-divider {
  border: none;
}

.Journal .DayPicker-Day.DayPicker-Day--selected,
.Journal .bp4-datepicker .DayPicker-Day,Ã
.Journal .bp4-datepicker .bp4-datepicker-day-wrapper {
  border-radius: 50%;
}

.calendar-container {
  display: flex;
  flex-direction: column;
}

.calendar-container > *:first-child {
  margin-bottom: 3em;
}
