@import "@blueprintjs/datetime/lib/css/blueprint-datetime.css";
@import "draft-js/dist/Draft.css";

.Journal {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 6em;
  justify-content: space-between;
  align-items: flex-start;
}

.bright .Editor,
.bright .Journal input.bp4-input {
  background: #f9f9f9;
}

.Journal input.bp4-input {
  box-shadow: none;
}

.dark .Editor,
.dark .Journal input.bp4-input {
  background: #353538;
}

.Editor {
  flex: 1;
  border-radius: 0.3em;
  min-height: 100%;
  cursor: text;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5em;
}

.Editor > *:first-child {
  padding: 3em;
}

.calendar-container {
  display: flex;
  flex-direction: column;
}

.calendar-container > *:first-child {
  margin-bottom: 3em;
}
