@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "normalize.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "@blueprintjs/core/lib/css/blueprint.css";

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Open Sans";
}

* {
  box-sizing: border-box;
  margin-top: 0;
  padding-top: 0;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
}

#root > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark {
  background: #1f1e21;
  color: #d0d0d0;
}

.bright {
  background: #e2e2e2;
  color: #353535;
}
